.footer{
  overflow: auto;
  background-color: #041A2B;
  color: #fff;
  padding-bottom: 3em;
  padding-top:2em;
  ul{
    list-style: none;
    padding: 0;
  }
  .usa-properties{
    a{
      color: $light-blue;
    }
  }
  .usa-stay-connected{
    li{
      float: left;
      width: 100%;
      font-size: 1.5em;
      padding: 0 .5em .5em 0;
      span{
        font-size:15px;
        padding: 5px;
      }
      a{
        color: #fff;
        transition: all .2s ease-in-out;
      }
      a:hover{
        color: #28C1E1;
      }
    }
  }
}
